<html>
  <head>
    <link rel="stylesheet" href="../static/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Machine Learning ASL</title>
  </head>
  <body>
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
      <div class="col-md-3 title">
          <div class="vr">&nbsp;</div>
      <h1> <b>Machine Learning</b></h1>
      </div>
      <a class="navbar-brand" href="#">
            <img src="../static/images/ASL_Navbar_Logo.png" alt="" width=45%>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('more') }}">More</a>
            </li>
   
        </ul>
      </div>
    </div>
  </nav>
  <br>  <br>
  <div class="container">
  <div class="col-md-12" style="height:300px;">
    <div class = "row">
      <div class="col-md-3" style="height:300px;">
        <b>ASL Translator:</b> Click the letter below to add it to the text sequence.
        <div class="big_letter col-md-3">
          <span style="color:red; font-size:9em; font-family: 'Courier New', Courier monospace">
            <button type="button">
                {{ forward_message }}
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-6" style="height:300px;">
          <form action="/forward/" method="post">
            <button name="forwardBtn" type="submit">
              <img src="{{ url_for('video_feed') }}"  class=" video">
              
            </button>
          </form>
          
      </div>
      <div class="col-md-3" style="height:300px;">
      </div>
    </div>
  </div>
  <hr>
 <br><br><br> <br><br><br> <br><br><br><br><br>

 





<!-- <p>{{ forward_message }}</p> -->



 
</div>

  

    <!-- Footer -->
<footer class="page-footer">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-1 namelist">
          

            <div class="table">
              <ul id="horizontal-list">
                  <li>Huy Nguyen</li>
                  <li>|</li>
                  <li>Joseph Mangahas</li>
                  <li>|</li>
                  <li>Steven Ortiz</li>
                  <li>|</li>
                  <li>Tyler Jones</li>
                  <li>|</li>
                  <li>William Harris</li>
              </ul>
            </div>
           
          
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">UCI Data Analytics Boot Camp
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  </body>
</html>
